AI food caption.json
{
  "name": "AI food caption",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fe624a01-41c1-468f-aea9-6e9398fff467",
      "name": "Schedule Trigger",
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41912285-ac8c-4d94-b94a-d4ed890fb3df",
              "name": "dish_name",
              "value": "Paneer Tikka Pizza",
              "type": "string"
            },
            {
              "id": "e8808106-81dd-4608-8981-8c8e1e69b858",
              "name": "description",
              "value": "Smoky paneer tikka with cheese burst",
              "type": "string"
            },
            {
              "id": "8f00cd45-76b2-4d91-8707-637cf9f82cc1",
              "name": "platform",
              "value": "Instagram",
              "type": "string"
            },
            {
              "id": "0d9fff6b-a18e-4609-80b6-f98c8e361265",
              "name": "price",
              "value": "299",
              "type": "string"
            },
            {
              "id": "b71ecd35-2bfe-44da-ada1-fb48978953aa",
              "name": "tone",
              "value": "Festive",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6b4e056d-7365-4db8-a6f4-4f23b2083801",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const dish = $json.dish_name;\nconst desc = $json.description;\nconst platform = $json.platform;\nconst price = $json.price;\nconst tone = $json.tone;\n\nconst prompt = `\nYou are a restaurant marketing expert.\n\nGenerate:\n1. Instagram caption\n2. Facebook caption\n3. Google Business post\n4. 10 hashtags\n5. Best posting time\n\nDish Name: ${dish}\nDescription: ${desc}\nPlatform: ${platform}\nPrice: ${price}\nTone: ${tone}\n\nMake the output attractive and engaging.\n`;\n\nreturn [\n  {\n    json: {\n      prompt: prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "60a19543-cbfc-4605-b918-d7c231c0b101",
      "name": "Code in JavaScript",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization ",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a restaurant loyalty marketing AI.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a personalized loyalty message for {{$json.customer_name}} who is a {{$json.messageType}} customer. Tier: {{$json.tier}}. Points: {{$json.points}}.\"\n    }\n  ],\n  \"temperature\": 0.8\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "e4c09746-e9ad-4c53-aa00-ad4028569f3f",
      "name": "HTTP Request",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const output = $json.choices[0].message.content;\n\nreturn [\n  {\n    json: {\n      ai_output: output\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "dc7a1657-cdc0-4493-9a1e-a3370972843d",
      "name": "Code in JavaScript1",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1s-PaSmnGo_3NKX0c85cuvrnQmnQgFJyJXhY8Sa49_Lw",
          "mode": "list",
          "cachedResultName": "AI Food Captions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s-PaSmnGo_3NKX0c85cuvrnQmnQgFJyJXhY8Sa49_Lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s-PaSmnGo_3NKX0c85cuvrnQmnQgFJyJXhY8Sa49_Lw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "ai_output"
          ],
          "schema": [
            {
              "id": "ai_output",
              "displayName": "ai_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "6c033c70-455c-4e8a-ab2e-1f0de0fecbc2",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ipeaai8jPg6DBt5N",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d589656f-73b1-4358-835b-58f1949f813a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "792006ef7a7ebc36fc5abd99bf921da5e1552f75133b4eebce244bda1ddbd0bd"
  },
  "id": "0OlSxBgaLzjfvfZY",
  "tags": []
}