Festival Marketing Automation.json
{
  "name": "Festival Marketing Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f8d8d157-b9cc-4e7a-8cb9-99ac1682a722",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c208f2fe-f1b0-4a3f-9698-fee9a90a0e44",
              "name": "restaurant_name",
              "value": "Spice Garden",
              "type": "string"
            },
            {
              "id": "80bfd143-514e-41c7-9a18-b9a3ab99d129",
              "name": "city",
              "value": "Bangalore",
              "type": "string"
            },
            {
              "id": "8020633d-e8e6-4997-a917-4ac0186086b2",
              "name": "cuisine",
              "value": "South Indian",
              "type": "string"
            },
            {
              "id": "d7042394-6bdd-49d4-b043-876702b504ca",
              "name": "festival",
              "value": "Diwali",
              "type": "string"
            },
            {
              "id": "f9365b65-4cfe-4a39-9562-0c89f2fe00a3",
              "name": "target_audience",
              "value": "Families and Office Groups",
              "type": "string"
            },
            {
              "id": "c5260d4c-92bd-4d4a-9101-41847a004896",
              "name": "avg_budget",
              "value": "500",
              "type": "string"
            },
            {
              "id": "48de6f95-a41c-48a3-871e-0cdfaa44cefc",
              "name": "kitchen_capacity",
              "value": "40 Special Meals Per Day",
              "type": "string"
            },
            {
              "id": "c388b969-c06a-4c4d-a9a0-f8d562471bb8",
              "name": "offer_budget",
              "value": "15000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "708af801-ed7e-42b6-83f5-6f56c9c132a9",
      "name": "Edit Fields",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst prompt = `\nYou are an expert restaurant marketing AI.\n\nCreate a complete festival marketing campaign.\n\nRestaurant Details:\nRestaurant Name: ${data.restaurant_name}\nCity: ${data.city}\nCuisine: ${data.cuisine}\nFestival: ${data.festival}\nTarget Audience: ${data.target_audience}\nAverage Budget Per Customer: ₹${data.avg_budget}\nKitchen Capacity: ${data.kitchen_capacity}\nOffer Budget: ₹${data.offer_budget}\n\nGenerate:\n1. Festival theme\n2. Catchy tagline\n3. 5 special menu items\n4. Offer ideas\n5. Instagram promotion plan for 7 days\n6. 3 WhatsApp promotional texts\n7. Table booking CTA\n8. Decoration idea\n\nMake the output professional and attractive.\n`;\n\nreturn [\n  {\n    json: {\n      prompt: prompt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b6b701d3-bea5-4f33-b7fb-252d806fd353",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{$json.prompt.toJsonString()}}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "44fac0c7-e030-4ba4-be9a-451f25a9b2dc",
      "name": "HTTP Request",
      "retryOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const content = $json[\"choices\"][0][\"message\"][\"content\"];\n\nreturn {\n  json: {\n    campaign: content,\n    generated_at: new Date().toISOString()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "f8a5360b-0592-45fa-ab34-f7c64ceddf3f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JbivbdDBvKxeuAm-Xvxn1UgEok0rR-GsEHHR5FMZ0Qg",
          "mode": "list",
          "cachedResultName": "Festival Marketing Automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JbivbdDBvKxeuAm-Xvxn1UgEok0rR-GsEHHR5FMZ0Qg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JbivbdDBvKxeuAm-Xvxn1UgEok0rR-GsEHHR5FMZ0Qg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_at": "={{$json.generated_at}}",
            "campaign": "={{$json.campaign}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "cb147e54-b69e-4910-af3b-d40b5eeb2421",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ipeaai8jPg6DBt5N",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6290392-14bb-4a6c-8ba7-9acb475c34f7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "792006ef7a7ebc36fc5abd99bf921da5e1552f75133b4eebce244bda1ddbd0bd"
  },
  "id": "bsZ9TqbsJmxXAxXO",
  "tags": []
}